.content__page {
}
.content__container {
}
.content__body {
}
.content__card {
   display: grid;
   grid-template-columns: 272px 727px;
   gap: 50px;
   justify-content: center;
   grid-template-areas: 
   'sidebar filtration'
   'sidebar tikets'
   'sidebar buttons';
   @media screen and (max-width: 1024px) {
      grid-template-columns: 1fr 2fr;
   }
   @media screen and (max-width: 768px) {
      grid-template-columns: 100%;
      grid-template-areas: 
      'filtration'
      'sidebar'
      'tikets'
      'buttons';
   }
}
.content__sidebar {
   grid-area: sidebar;
   display: flex;
   flex-direction: column;
   gap: 47px;
   @media screen and (max-width: 768px) {
      display: grid;
      grid-template-areas: 
      'title acordeon'
      'radio checkbox';
      grid-template-columns: 1fr 1fr;
      gap: 18px;
      justify-content: flex-end;
      border-radius: 10px 10px 10px 10px;
      background: var(--colors-purple, #4E148C);
      box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.25);
      padding: 13px 16px 40px 24px;
   }
}
.content__sidebar-nonactive {
   @media screen and (max-width: 768px) {
      display: grid;
      grid-template-areas: 
      'title acordeon';
      grid-template-columns: 1fr 1fr;
      gap: 18px;
      justify-content: flex-end;
      border-radius: 10px 10px 10px 10px;
      background: var(--colors-purple, #4E148C);
      box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.25);
      padding: 13px 23px;
   }
}
.sidebar__acordeon {
   @media screen and (max-width: 768px) {
      grid-area: acordeon;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-right: 18px;
   }
}
.sidebar__acordeon-title {
}
.acardeon__title {
   color: var(--colors-white, #F7F9F7);
   @include adaptiveFont(12, 12);   
   font-weight: 500;
}
.header__profile-accordion {
}
.acordion-icon {
   width: 24px;
   height: 24px;   
   &::after {
      content:""; 
      position: absolute;
      width: 11px;
      height: 11px;
      top: 20%;
      right: -10%;
      border-bottom: 3px solid #fff;
      border-left: 3px solid #fff;
      transform:  rotate(315deg) translateY(-50%);
      cursor: pointer;
   }
}
.acordion-icon-active {
   &::after {
      content:""; 
      position: absolute;
      width: 11px;
      height: 11px;
      top: 20%;
      border-bottom: 3px solid #fff;
      border-left: 3px solid #fff;
      transform:  rotate(135deg) translate(-50%,  -50%);
      cursor: pointer;
   }
}
.sidebar__card {
   border-radius: 10px;
   background: #E8EBF2;
   padding: 19px 18px 49px 19px;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 26px;
   @media screen and (max-width: 768px) {
      background: inherit;
      border-radius: none;
      align-items: flex-start;
      padding: 0;
   }
}
.sidebar__selected {
   @media screen and (max-width: 768px) {
      grid-area: title;
      display: flex;
      gap: 10px;
   }
}
.checkbox {
   @media screen and (max-width: 768px) {
      grid-area: checkbox;
   }
}
.radio {
   @media screen and (max-width: 768px) {
      grid-area: radio;
   }
}
.sidebar__title {
   display: flex;
}
.sidebar__title-h {
   color: var(--colors-white, #F7F9F7);
   @include adaptiveFont(16, 16);   
   font-weight: 500;
   width: max-content;
   &:not(:last-child) {
      margin-right: 10px;
   }
}
.card__title {
   color: #4E148C;
   @include adaptiveFont(20, 20);   
   font-weight: 700;
   @media screen and (max-width: 768px) {
      color: #F7F9F7;
   }
}
.sidebar__card-title {
   width: 100%;
}
.sidebar_card-checkbox {
   display: flex;
   flex-direction: column;
   gap: 19px;
   @media screen and (max-width: 768px) {
      width: 100%;
   }
}
.checkbox {
   display: flex;
   gap: 19px;
   align-items: center;
   color: var(--colors-lavender, #858AE3);
   @include adaptiveFont(16, 16);   
   font-weight: 500;
   &:hover {
      color: #4E148C;
   }
   @media screen and (max-width: 768px) {
      color: #F7F9F7;
      &:hover {
         color: #ccb7e1;
      }
   }
}
.content__filtration {
   display: flex;
   grid-area: filtration;
   height: min-content;
}
.filtration__btn {
   flex: 1 1 auto;
   border: 2px solid #4E148C;
   background: #E8EBF2;
   color: #4E148C;
   font-size: 16px;
   font-weight: 700;
   padding: 18px 20px;
   &:first-child {
      border-radius: 10px 0px 0px 10px;
   }
   &:last-child {
      border-radius: 0px 10px 10px 0px;
   }
   &:hover {
      background: #4E148C;
      color: #F7F9F7;
   }
}
.filtration__btn-active {
   flex: 1 1 auto;
   border: 2px solid #4E148C;
   background: #4E148C;
   color: #F7F9F7;
   font-size: 16px;
   font-weight: 700;
   padding: 18px 20px;
   &:first-child {
      border-radius: 10px 0px 0px 10px;
   }
   &:last-child {
      border-radius: 0px 10px 10px 0px;
   }
}
.content__tikets {
   grid-area: tikets;
   display: flex;
   flex-direction: column;
   gap: 47px;
}
.tiket__body {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   grid-row-gap: 25px;
   grid-column-gap: 15px;
   justify-content: center;
   grid-template-areas: 
   'price price logo'
   'time duration transplants';
   border-radius: 10px;
   background: #E8EBF2;
   padding: 27px 24px 25px 23px;
}
.tiket__price {
   grid-area: price;
}
.tiket__price-text {
   color: #4E148C;
   @include adaptiveFont(32, 32);   
   font-weight: 700;
}
.tiket__logo {
   grid-area: logo;
}
.tiket__logo-img {
}
.tiket__details {
   display: flex;
   flex-direction: column;
   gap: 9px;
}
.tiket__time {
   grid-area: time;
}
.tiket__title {
}
.tiket__title-text {
   color: #858AE3;
   @include adaptiveFont(16, 16);   
   font-weight: 500;
}
.tiket__subtitle {
}
.tiket__subtitle-text {
   color: #4E148C;
   @include adaptiveFont(16, 16);   
   font-weight: 500;
}
.tiket__duration {
   grid-area: duration;
}
.tiket__transplants {
   grid-area: transplants;
}
.content__button {
   grid-area: buttons;
}
.content__btn {
   width: 100%;
   padding: 16px 0 17px;
   border-radius: 10px;
   background: var(--colors-purple, #4E148C);
   color: #F7F9F7;
   @include adaptiveFont(24, 24);   
   font-weight: 700;
   line-height: normal;
   &:hover {
      background: #4e148c99;
      color: #F7F9F7;
   }
}