.header__page {
   padding: 84px 0 22.55px;
}
.header__container {
}
.header__body {
}
.header__logo {
   display: flex;
   align-items: center;
   gap: 34px;
}
.header__logo-img {
}
.header__logo-title {
}
.header__logo-title-h {
}